## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Test results & Allure
TestResults/
allure-results/
allure-report/
*.trx
*.coverage
*.coveragexml

## Playwright
playwright-report/
test-results/

## Logs
*.log
logs/

## OS
.DS_Store
Thumbs.db

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/
